@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/


@import "variable";
@import "mixin";
@import "include";
@import "media";




body{
@extend %DefailtStyle;
}


p{
	margin-bottom: 0;
	@media (max-width:$media_sm){
		text-align: center;
	
}
}
header {
	background-color: #efefef;
	padding: 4px 0;
	p{
		@extend %TopHeader;
	}
	ul{
		justify-content: flex-end;
		li{
			a{
				@extend %TopHeader;
				text-transform: uppercase;
				@media (max-width: $media_sm){
			justify-content: center;
			padding: 10px;
    		font-size: 14px;
		}
			}
		}
		@media (max-width: $media_sm){
			justify-content: center;
			padding: 10px;
    		font-size: 14px;
		}
	}
}

.navbar {
	ul{
		@media(max-width: $media_sm){
			text-align: center;
		}
		li{
			a{
				@extend %DefailtStyle;
				color: #161616 !important;
				text-transform: uppercase;
				font-weight: 500;
				border-radius: 30px;
				padding: 12px 20px !important;
				border: 1px solid transparent;
				transition-duration: 0.3s;
			}
			a:hover{
				@extend %btn-custom;

			}
		}
		li:last-child{
			a{
				@extend %btn-custom;
				&:hover{
					background-color: transparent;
					color: #7f7f7f !important;
					
				}
			}
		}
	}
}

/////*************banner-section************////////
.banner-section{
	position: relative;
	&::after{
		@extend %Overlay;
		background-color: rgba(51, 51, 51, 0.7);
		z-index: 0;
	}
	img{

	}
	.container{
		@extend %PositionCenter;
		z-index: 1;

		h1{
			font-size: 48px;
			font-weight: 600;
			color: #efefef;
			@media(max-width: $media_md){
				font-size: 35px;
			}
			@media(max-width: $media_sm){
				font-size: 25px;
    			margin-bottom: 25px;
			}
			    
		}
		.banner-inner{
			color: #efefef;
			padding: 50px 0;
			@media(max-width: $media_md){
				padding: 35px 0;
			}
			@media(max-width: $media_sm){
				display: none;
			}

			h5{
				font-size: 20px;
			}
			h4{
				font-size: 14px;
			}
		}
		.btn-custom{
			background-color: transparent;
			color: #fff !important;
			padding: 12px 20px !important;
			border: 1px solid #fff;
			border-color: #fff;
			border-radius: 30px;
			font-size: 16px;
			text-transform: uppercase;

			&:hover{
				@extend %btn-custom;
				background-color: $ThemeColor;
			}
		}
	}
}

/**********feature-section************/
.feature-section{
	padding: 80px 0 10px 0;

	.feature{
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		padding: 40px 30px;
		position:relative; 
		@media(max-width: $media_md){
			padding: 10px 5px;
		}
		@media(max-width: $media_sm){
			margin: 10px 0;
		}

		&:before{
			@extend %Overlay;
			background: url(../images/bitcoin.png);
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			opacity: 0;
			@include transition(0.3s , linear);
			@include transformScale(0);
			
		}

		&::after{
			@extend %Overlay;
			z-index: -1;
			opacity: 0;
			@include transition(0.3s , linear);
			@include transformScale(1);
			background: #fe7002;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to bottom, #d9b203, #fe7002);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to bottom, #d9b203, #fe7002); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

			
		}

		&:hover{
			&:before{
				opacity:1;
				@include transformScale(1);
			}

			&::after{
			opacity: 0.8;
			}

			img{
				filter: grayscale(1) brightness(10);
			}

			h6{
				color: #fff;
			}
			p{
				color: #fff;
			}
		}

		img{
			height: 70px;
		}
		h6{
			font-size: 17px;
			margin: 30px 0;
		}
		p{
			font-size: 14px;
		}
	}
}

/*********service-section************/

.service-section{
	padding: 80px 0;
	@media (max-width: $media_md){
		padding: 10px;
	}
	@media (max-width: $media_sm){
		padding: 10px;
	}
	.btn-custom{
		background-color: transparent;
		text-transform: uppercase;
		border-radius: 30px;
		padding: 12px 20px !important;
		border: 1px solid #333;
		@media (max-width: $media_md){
		margin-bottom: 10px;
		}
		@media (max-width: $media_sm){
		margin-bottom: 10px;
		}
		&:hover{
			background-color:$ThemeColor;
			border:1px solid $ThemeColor;
			color: #fff;
		}
	}

	&:hover{
		.header{
			&::after{
		    @include transformScaleX(0.1);
			}
		}
	}
	.service{
		padding: 25px;
		margin: 50px 0;
		@media (max-width: $media_md){
		margin: 15px 5px;
		padding: 10px;
		}
		@media (max-width: $media_sm){
		margin: 0;
		}

		img{}
		h6{
			font-size: 18px;
			padding: 20px 0;
		}
		p{
			font-size: 14px;
		}
	}
}
.header{
			position: relative;
			padding-bottom: 25px;
    		margin-bottom: 30px;
    		@media (max-width: $media_md){
			padding: 15px 0;
    		margin-bottom: 16px;
		}
    		

		h1{
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}

		p{
			font-size: 14px;
			color:#666;		    
			max-width: 500px;
		    margin: auto;
		}

		&::after{
			content: "";
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 3px;
		    background-color: #fb8f2c;
		    transform: translateX(-50%);
		    @include transformScaleX(0);
		    @include transition(0.3s , linear);

		}
	}


	/************step-section*****************/

.step-section{
	background-image: url(../images/banner-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
	color: #fff;
	@media (max-width:$media_md){
			padding: 30px 0 10px 0;
				}
	@media (max-width:$media_sm){
			text-align: center;
				}
	.step-image{
		position: relative;
		img{
			&:first-child{
				@media (max-width:$media_md){
					width: 300px;
				}
				
			}
			&:nth-child(2){
				    position: absolute;
				    bottom: 40%;
				    left: 50%;
				    transform: translate(-50%, 40%);
				    width: 200px;
			}
		}
	}
	.step{
		span{
			border: 3px solid #f7931a;
		    width: 50px;
		    height: 50px;
		    display: block;
		    border-radius: 8px;
		    transform: rotate(45deg);
		    @media (max-width:$media_md){
				width: 40px;
    			height: 40px;
				}
		    @media (max-width:$media_sm){
				display: none;
				}
		}
		h3{}
		p{
			@media (max-width:$media_sm){
				padding: 15px 50px;
				}
		}
	}
	&:hover{
		.header{
			&::after{
		    @include transformScaleX(0.3);
			}
		}
	}
}


/*************counter-section***************/

.counter-section{
	background: $ThemeColor;
	padding: 50px 0;
	color: #fff;
	@media (max-width: $media_md){
			padding: 10px 0;
		}
	.counter{
		h4{
			font-size: 50px;
			@media (max-width: $media_sm){
			font-size: 40px;
		}
		}
		strong{
			font-size: 18px;
			text-transform: uppercase;
			@media (max-width: $media_sm){
			font-size: 15px;
		}
		}
	}
}

/***********spider-section**************/

.spider-section{
	padding: 50px 0;
    margin-top: 75px;
	.spider{
		position: relative;
		b{
			display: block;
		}
		img{
			padding: 20px;
			@media (max-width: $media_md){
				width: 370px;
			}
			@media (max-width: $media_sm){
				width: 290px;
			}
		}
		span{
			padding: 10px;
			margin: 0 0 15px 15px;
			font-size: 18px;
		}
		
		
		.green-right-middle{
			position: absolute;
			top: 45%;
			right: 10%;
			transform: translate(10%, -45%);
			@media (max-width: $media_sm){
				top: 45%;
			    right: 5%;
			    transform: translate(5%, -45%);
			}

			span{
				border: 3px solid #63cd68;
			   @extend %Rotate;
			   i{
			transform: rotate(-45deg);
			color: #63cd68;
		}
			}

		}
		.green-left-middle{
			position: absolute;
			top:45%;
			left: 10%;
			transform: translate(-10%, -45%);
			@media (max-width: $media_sm){
			top: 45%;
		    left: 5%;
		    transform: translate(-5%, -45%);
			}
			
			span{
				border: 3px solid #63cd68;
			   @extend %Rotate;
			   i{
			transform: rotate(-45deg);
			color: #63cd68;
		}
			}
		}
		.red-top-left{
			position: absolute;
			top: -20%;
		    left: 20%;
		    transform: translate(-20%, 20%);
		    @media(max-width: $media_sm){
		    	    top: -35%;
				    left: 15%;
				    transform: translate(-15%, 35%);
		    }
			
			span{
				border: 3px solid #f05154;
			   @extend %Rotate;
			   i{
			transform: rotate(-45deg);
			color: #f05154;
		}
			}
		}
		.red-bottom-right{
			position: absolute;
			bottom: -20%;
		    right: 20%;
		    transform: translate(20%, -20%);
		    @media(max-width: $media_sm){
		    bottom: -20%;
		    right: 12%;
		    transform: translate(12%, 4%);
			}
			
			span{
				border: 3px solid #f05154;
			   @extend %Rotate;
			   i{
			transform: rotate(-45deg);
			color: #f05154;
		}
			}
		}
		.blue-top-right{
			position: absolute;
		    top: -20%;
		    right: 20%;
		    transform: translate(20%, 20%);
		   @media(max-width: $media_sm){
		    	top: -35%;
				right: 15%;
				transform: translate(15%, 35%);
		    }
			span{
				border: 3px solid #43c5ca;
			   @extend %Rotate;
			   i{
			transform: rotate(-45deg);
			color: #43c5ca;
		}
			}
		}
		.blue-bottom-left{
			position: absolute;
			bottom: -20%;
		    left: 20%;
		    transform: translate(-20%, -20%);
		    @media(max-width: $media_sm){
		    bottom: -35%;
		    left: 15%;
		    transform: translate(-15%, -35%);
			}
			span{
				border: 3px solid #43c5ca;
			   @extend %Rotate;
			   i{
			transform: rotate(-45deg);
			color: #43c5ca;
		}
			}
		}
	}

}

.service-section{
	.expert{
		h5{
			padding-top: 50px;
		}
		p{
			color: #fba057;
			text-transform: uppercase;
		}
	}
}
.contact-section{
	background-image: url(../images/banner-3.png);
	background-size: cover;
	background-repeat: no-repeat;
	color:#fff;
	padding: 70px 0;
	.form-control{
		background-color: #000000a8;
		color: #fff;
		placeholder{
			color: #fff;
		}

	}
	.btn-custom{
			@extend %btn-custom;
			margin-top: 50px;
			padding: 10px 40px !important;
    		text-transform: uppercase;
    		&:hover{
    			background-color: transparent;
    			border-color: #fff;
    		}
		}
	
}

/***********service-section****************/
.card{
		transition-duration: 0.3s;
		@media(max-width: $media_sm){
			margin: 25px;
		}
	&:hover{
		box-shadow: 0px 0px 20px #0000005c;
	}
	img{}
}


.card-body{
	padding-top: 0;
	ul{
		li{
			>a{
				    background-color: #f26c4f;
				    color: #fff;
				    height: 40px;
				    width: 40px;
				    display: inline-block;
				    border-radius: 50%;
				    line-height: 40px;
				    text-align: center;
				    transform: translateY(-20px);
				i{}
				
			}
			span{
					a{
						color: #333;
						font-size: 14px;
						text-decoration: none;
					}
				}
		}
	}
	h3{
		font-size: 16px;
		font-weight: 700;
		padding:20px 0;
		@media (max-width: $media_md){
			padding: 10px 0;
		}
	}
}

/*****************feedback****************/

.carousel{
	.carousel-inner{
		.carousel-item{
			text-align: center;
			.client-img{
				position: relative;
				text-align: center;
				display: inline-block;
				img{
					margin: auto;
				}
				span{
					position: absolute;
				    background-color: #ff9b1a;
				    right: 3px;
				    bottom: 3px;
				    width: 40px;
				    height: 40px;
				    border-radius: 50%;
				    line-height: 40px;
				    transform: translate(3px, 3px);
				    border: 3px solid;
				    color: #fff;
					i{}
				}
				
			}
			.carousel-caption{
				position: static;
				h5{
					color:#333;
				}
				p{
					color: $ThemeColor;
					text-transform: uppercase;
				}
			}
		}
	}
	.carousel-control-prev{
		span{
			color: #333;
			font-size: 25px;
			&:hover{
				color: $ThemeColor;

			}

		}
		
		
		
	}
	.carousel-control-next{
		span{
			color: #333;
			font-size: 25px;
			&:hover{
				color: $ThemeColor;
		
			}
		}
		
		
			
	}
}

/***************footer********************/

footer{

	background-color: #101010;
	padding: 80px 0;
	@media(max-width: $media_sm){
			text-align: center;
			padding: 25px 0;
		}
	.widget{

		.footer-logo{
			padding-bottom: 40px;
		}
		h4{
			padding-bottom: 40px;
			color: #fff;
			@media(max-width: $media_sm){
			padding-bottom: 20px;
			}
		}
		ul{
			@media(max-width: $media_sm){
			justify-content: center;
			}
			li{
				a{
					color: #989898;
					text-decoration: none;
				}
				span{
					color: #989898;
					display: block;
					padding: 3px 15px;
				}
			}

		}
		p{
			color: #989898;
		}
	}
}

.input-group{
	margin-top: 20px;
}
.social-link{
				a{
					    padding: 10px;
					    color: #fff;
					    border: 2px solid #3d3c3a;
					    border-radius: 50%;
					    margin: 0 4px;
					    transition-duration: 0.3s;
					    @media(max-width: $media_sm){
					    	    margin: 20px 10px;
					    }
					    &:hover{
					    	color: #00aced;
					    	border-color: #00aced;
					    }
				    li{
				    	i{
				    		width: 18px;
				    	}
				    }
				}
			}
			.list-unstyled{ 
				a{
					transition-duration: 0.3s;
				&:hover{
					color:#00aced ;
				}
				}

			}
			

.input-group-text{
		button{
			background: $ThemeColor;
    		color: #fff;
		}
	}
		

.bottom-footer{
	background-color: #000;
	padding: 25px 0;
	ul{ 
		justify-content: flex-end;
		@media(max-width: $media_sm){
			justify-content: center;
		}
		li{
			a{
				color: #737272;
				text-decoration: none;
				padding: 10px;
				text-transform: uppercase;
				transition-duration: 0.3s;
				&:hover{
					color:#00aced ;
				}
			}
		}
	}
}

